---
import { Image } from "astro:assets";
import icon from "../assets/無題547_20260503173534.png";
const baseUrl = import.meta.env.BASE_URL;
---

<header>
  <nav class="uk-navbar-container !bg-pink-950/60" uk-navbar uk-sticky>
    <div class="uk-container uk-flex uk-flex-between uk-flex-middle">
    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo !text-fuchsia-50" href="./">
        <Image
          src={icon}
          alt="洪水のファンタジア ロゴ"
          width="30"
          height="30"
          class="uk-margin-small-right"
        />
        洪水のファンタジア
      </a>
      <ul class="uk-navbar-nav uk-visible@m [&_a]:!text-fuchsia-50">
        <li><a href={baseUrl}>トップページ</a></li>
        <li><a href={`${baseUrl}/timeline`}>年表</a></li>
        <li><a href={`${baseUrl}/characters`}>キャラクター</a></li>
        <li>
          <a href={`${baseUrl}/2042`}>2042年</a>
          <div class="uk-navbar-dropdown !bg-pink-950/80">
            <ul class="uk-nav uk-navbar-dropdown-nav [&_a]:!text-fuchsia-50">
              <li><a href={`${baseUrl}/countries-2042`}>国家</a></li>
              <li><a href={`${baseUrl}/scenarios-2042`}>シナリオ</a></li>
            </ul>
          </div>
        </li>
        <li><a>設定</a>
          <div class="uk-navbar-dropdown !bg-pink-950/80">
            <ul class="uk-nav uk-navbar-dropdown-nav [&_a]:!text-fuchsia-50">
              <li><a href={`${baseUrl}/japan-history-after-1945`}>第二次世界大戦以降の日本</a></li> 
            </ul>
          </div>
      </ul>
    </div>
    <div class="uk-navbar-right uk-margin-left [&_a]:!text-fuchsia-50">
      <a
        class="uk-navbar-toggle"
        href="#offcanvas-nav"
        uk-navbar-toggle
        uk-toggle><span uk-icon="menu"> </span></a>
    </div>
    </div>
  </nav>

  <div id="offcanvas-nav" uk-offcanvas>
        <div class="uk-offcanvas-bar !bg-transparent !bg-linear-to-tr from-violet-950/85 to-pink-950/85">
          <button class="uk-offcanvas-close" type="button" uk-close></button>
      <ul class="uk-list uk-list-striped [&_a]:!text-fuchsia-50">
        <li><a href={`${baseUrl}/`}>トップページ</a></li>
        <li><a href={`${baseUrl}/timeline`}>年表</a></li>
        <li><a href={`${baseUrl}/characters`}>キャラクター</a></li>
        <li>
          <a href={`${baseUrl}/2042`}>2042年</a>
          <ul class="uk-nav-sub">
            <li><a href={`${baseUrl}/countries-2042`}>国家</a></li>
            <li><a href={`${baseUrl}/scenarios-2042`}>シナリオ</a></li>
          </ul>
        </li>
        <li>設定
          <ul class="uk-nav-sub">
            <li><a href={`${baseUrl}/japan-history-after-1945`}>第二次世界大戦以降の日本</a></li> 
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
